@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700');

*{
    color: rgb(61, 61, 61);
    font-weight: 300;
    font-family: 'Open Sans', sans-serif;
}

h1,h2,h3,h4,h5 {
    font-weight: 700;
    color: rgb(48, 48, 48);
}